{% extends 'layout.html' %}

{% block body %}
 <div class="custom-form">
    <h1>Ingrese un número:</h1>
    <form action="/topXcriticalUsers" method="post">
        <div class="form-group">
            <label for="number">Número:</label>
            <input type="number" id="number" name="number" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label for="outputType">Filtrar búsqueda:</label>
            <select id="outputType" name="outputType" class="form-control">
                <option value="normal" selected>Normal</option>
                <option value="mayor">Mayor del 50%</option>
                <option value="menor">Menor del 50%</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

 <div class="custom-form">
    <h1>Ingrese un número:</h1>
    <form action="/topxOutdated" method="post">
        <div class="form-group">
            <label for="number">Número:</label>
            <input type="number" id="number1" name="number" class="form-control" required>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% endblock %}
