{% extends 'layout.html' %}

{% block body %}

      <div class="vulnerabilities">
    <h1>Últimas 10 vulnerabilidades:</h1>
    <table class="table">
        <tbody>
            {% for vulnerability in ultimas_vulnerabilidades %}
                <tr class="vulnerability-row">
                    <td class="vulnerability-left">
                        <p>Id: {{ vulnerability.id }}</p>
                        <p>Published: {{ vulnerability.Published }}</p>
                        <p>CWE: {{ vulnerability.cwe }}</p>
                    </td>
                    <td class="vulnerability-right">
                        <p>Assigner: {{ vulnerability.assigner }}</p>
                        <p>Last modified: {{ vulnerability['last-modified'] }}</p>
                        <p>Summary: {{ vulnerability.summary }}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
